

<%= form_for @movie , url: movies_path,  html: { multipart: true } do |form| %>
 
  
  <div class="form-group">
    <%= form.label :title %><span class="glyphicon glyphicon-film"></span><br>

    <%= form.text_field :title ,class: "form-control" ,placeholder: "Enter title"%>
    
  </div>
 
  <% if view == "automatic" %>
  <%= hidden_field_tag 'view', view %>
  <%else%>
  <%= hidden_field_tag 'view', view %>
  
  <div class="form-group">
    <%= form.label :polt %><br>
    <%= form.text_field :plot ,class: "form-control" ,placeholder: "Enter plot" %>
  </div>
 <div class="form-group">
    <%= form.label :genr %><br>
    <%= form.text_field :genr ,class: "form-control",placeholder: "Enter gener" %>
  </div>
  <div class="form-group">
    <%= form.label :cast %><br>
    <%= form.text_area :cast ,class: "form-control",placeholder: "Enter cast"%>
  </div>
  <div class="form-group">
    <%= form.label :year %><br>
    <%= form.text_field :year ,class: "form-control",placeholder: "Enter Year" %>
  </div>
  <div class="form-group">
    <%= form.label :Rating%><span class="glyphicon glyphicon-star"></span><br>
    <%= form.text_field :rating,class: "form-control",placeholder: "Enter integers" %>
  </div>
  <div class="form-group">
    <%= form.label :website %><br>
    <%= form.text_field :website ,class: "form-control" ,placeholder: "Enter website" %>
   </div>
   <div class="form-group">
    <%= form.label :image %><span class="glyphicon glyphicon-picture"></span><br>
    <%= form.file_field :image ,class: "form-control"  %>
   </div>
   <%end%>
  <div class="form-group">
    <%= form.submit class: "form-control btn btn-primary"%>

  </div>
<% end %>


 