 

 <div class="container" style="width: 100%;">
     <h1>Top rated</h1>

        <div class="row">

             <% @ratings.each do |movie|%>
             
               <div class="col-md-3 col-sm-3">
                      <% if movie.title.blank?  %>
                        <% e_title = "unknown Album" %>
                     <% else %>
                        <% e_title = movie.title %>
                    <% end %>
                        <h3><%= e_title %></h3>
                        <% if movie.image.blank?  %>
                        <% e_image = "blankimage" %>
                        <% else %>
                        <% e_image = movie.image_url %>
                        <% end %>
                
                    <%= link_to (image_tag e_image),movie_path(movie), class: "img-responsive" %>
                    
                    <br>
                     <div class="from-group">
                         <%= link_to 'Readmore', movie_path(movie),class: "btn btn-primary" %>
                         
                         <div class="btn-group">
                      <%= link_to like_movie_path(movie), method: :put, class: "btn btn-primary btn-sm" do %>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    Like    
                    <%= movie.get_likes.size %>
                  <% end %>
                  <%= link_to dislike_movie_path(movie), method: :put, class: "btn btn-danger btn-sm" do %>
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                   Dislike
                    <%= movie.get_dislikes.size %>
                  <% end %>
                  </div>
                     </div>
   
            
                </div>
              
             <%end%>
               
         </div> 
</div>          



