<h1>movies</h1>

<div id="index_page">
     <div class="container">
        <%=render "partials/header"%>
        <%=render "home/index"%>
             
        <div class="row">
             <% @movies.each do |movie|%>
             
               <div class="col-md-3 col-sm-3">
                      <% if movie.title.blank?  %>
                        <% move_title = "unknown Album" %>
                     <% else %>
                        <% move_title = movie.title %>
                    <% end %>
                        <h3><%= move_title %></h3>
                        <% if movie.image.blank?  %>
                        <% move_image = "blankimage" %>
                        <% else %>
                        <% move_image = movie.image %>
                        <% end %>
                
                    <%= image_tag move_image, class: "img-responsive" %>
                    
                    <%= link_to 'Destroy', movie_path(movie),method: :delete, data: { confirm: 'Are you sure?' }%>
                     <div class="from-group">
                     <%= link_to 'Readmore', movie_path(movie),class: "btn btn-primary" %>
                       </div>
   
            <%= link_to 'Edit', edit_movie_path(movie) %>
            <%=link_to "browse more" %>
                </div>
             <%end%>
                
         </div>
         <%=render "partials/footer"%>
    </div>
</div>

   
